.gradientColor{
    background: linear-gradient(to right, #509bdf , #0b2884 );
}

/* .stamping{
    font-weight: 800;
    font-size: 80px;
    position: absolute;
    top:225px;
    left: 40px;

} */
