.registerRow{
    border: 1px solid black;
    background: linear-gradient(to right, #509bdf , #0b2884 );
}

.registerForm{
    padding: 20px;
    padding: 0px 10px 30px 10ps;
    border: 1px solid rgb(28, 28, 29);
    background-color: white;
    
}